@import "index-header";

/* ~~~~~~~~ Global styling ~~~~~~~~ */
body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Montserrat', 'Verdana', sans-serif;
}

p {
	font-size: 18px;
	margin: 1em 1em;
}

.nav-container {
	position: fixed;
	display: block;
	width: 100%;
	height: 50px;
	top: 0;
	opacity: 0.9;
	z-index: 9001;
	
	@media #{$narrow-screen} {
		background-color: $pitt-blue;
	}
	
	> div {
		width: 81%;
		@include center-margin;
		
		@media #{$narrow-screen} {
			width: 100%;
		}
		
		> a {
			line-height: 50px;
			font-family: $sorts-goudy;
			font-size: 23px;
			color: white;
			text-decoration: none;
			padding-left: 45px;
			background-image: url('../img/icons/logo-sm2.png');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 40px;
			@include transition-all(0.25s);
			position: relative;
			z-index: 9001;
			
			@media #{$bigger-screen} {
				float: left;
			}
			
			@media #{$medium-screen} {
				font-size: 18px;
				padding-left: 35px;
				background-size: 30px;
			}
			
			@media #{$narrow-screen} {
				display: block;
				padding-left: 0;
				background-size: 0;
				text-align: center;
			}
			
			&:hover, &:active {
				color: $old-gold;
			}
		}
		
		li {
			height: 50px;
			line-height: 50px;
			list-style-type: none;
			background-position: left center;
			background-repeat: no-repeat;
			@include transition-bkgrd-color(0.25s);
			
			@media #{$bigger-screen} {
				float: left;
			}
			
			@media #{$medium-screen} {
				background-size: 0;
			}
			
			@media #{$narrow-screen} {
				display: none;
				
				&:active {
					background-color: $world-rally-blue;
				}
			}
			
			&:hover {
				background-color: $world-rally-blue;
			}
			
			a {
				display: block;
				color: white;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 16px;
				padding-left: 32px;
				padding-right: 5px;
				
				@media #{$medium-screen} {
					font-size: 13px;
					padding-left: 7px;
					padding-right: 7px;
				}
			}
		}
		
		li.show-menu {
			@media #{$narrow-screen} {
				display: block;
				background-color: $pitt-blue;
				background-size: 0;
			}
			
			@media #{$narrow-screen} {
				height: 50px;
				line-height: 50px;
			}
			
			a {
				@include transition-bkgrd-color(0.25s);
				
				&:hover, &:active {
					background-color: $world-rally-blue;
				}
			}
		}
	}
}

#links {
	position: relative;
	width: auto;
	
	@media #{$bigger-screen} {
		float: right;
	}
	
	ul {
		padding-left: 0;
		display: inline;
		
		@media #{$narrow-screen} {
			margin: 0;
		}
	}
}

.blue-menu {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: $pitt-blue;
	@include zero-space;
	border: none;
	display: none;
}

#menu-button {
	position: fixed;
	top: 0;
	left: 0;
	@include zero-space;
	width: 50px;
	height: 50px;
	cursor: pointer;
	@include transition-bkgrd-color(0.25s);
	
	&:hover {
		background-color: $world-rally-blue;
	}
	
	@media #{$bigger-screen} {
		display: none;
	}
}

.menu-open {
	content: url('../img/icons/menu-close-50px.png');
}


/* ~~~~~~~~ Intro panel ~~~~~~~~ */
#top {
	background-image: url('../img/bkgrds/bkgrd-04.jpg');
	@include center-bkgrd-image;
	background-color: $blue-gray;
	min-height: 100vh;
	padding: 0 0 1px 0;
	
	div {
		position: relative;
		padding-top: 20vh;
		
		img {
			width: 311px;
			display: block;
			@include center-margin;
		}
		
		h1 {
			font-size: 24px;
			font-weight: bold;
			color: white;
			text-align: center;
			margin-top: 50px;
		}
	}
}


/* ~~~~~~~~ About section ~~~~~~~~ */
#about {
	padding-top: 30px;
	padding-bottom: 30px;
	@include tile;
	
	div {
		img {
			@include picture-border;
			float: left;
			margin: 10px 50px 25px 10px;
			
			@media #{$wide-screen} {
				max-width: 400px;
			}
			
			@media #{$medium-screen} {
				width: 30vw;
				margin: 0 2em 1em 0;
			}
			
			@media #{$narrow-screen} {
				width: calc(50% - 12px);
				margin: 0 auto 2em auto;
				float: none;
				display: block;
			}
		}
		
		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}
}


/* ~~~~~~~~ Programming section pt. 2 ~~~~~~~~ */
#programming {
	//@include tile;
	background-image: url('../img/bkgrds/bkgrd-03.jpg');
	@include center-bkgrd-image;
	background-color: $dark-purple;
	min-height: calc(100vh - 60px);
	
	.content {
		@media #{$big-tree} {
			width: 80%;
		}
		
		h2 {
			color: $old-gold;
		}
	}
	
	section {
		p {
			font-size: 16px;
			color: white;
			margin: 2em 1em;
			
			a {
				color: $old-gold;
				@include transition-color(0.25s);
				
				&:hover, &:active {
					color: $brick-red;
				}
			}
		}
	}
}

#git-card {
	position: relative;
	width: 350px;
	height: 150px;
	@include border-radius(4px);
	box-shadow: 8px 8px 3px 0px #383838;
	border: 1px solid #838383;;
	background-color: white;
	@include center-margin;
	
	@media #{$big-tree} {
		margin-top: 1em;
	}
	
	@media #{$small-tree} {
		margin-top: 4em;
	}
	
	> div {
		position: relative;
		height: 50px;
		@include linear-gradient(left, $pitt-blue, $world-rally-blue);
		border-top-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		
		div.tooltip {
			height: 50px;
			margin: 0;
			text-align: right;
			
			img.git-status {
				opacity: 0.15;
				@include transition-opacity(0.25s);
			}
			
			img.git-logo {
				margin: 5px 5px 5px 0;
			}
			
			span {
				position: relative;
				display: block;
				top: -68px;
				right: -310px;
				width: 195px;
				height: auto;
				opacity: 0;
				visibility: hidden;
				padding: 0.2em;
				@include border-radius(4px);
				background-color: $ice-silver;
				color: black;
				text-align: center;
				font-size: 12px;
				@include transition-visibility(0.25s);
				
				&::after {
					content: " ";
					position: absolute;
					top: 50%;
					right: 100%;
					margin-top: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: transparent $ice-silver transparent transparent;
				}
			}
			
			&:hover {
				img.git-status {
					opacity: 1.0;
				}
				span {
					visibility: visible;
					opacity: 1.0;
					transition-delay: 0s;
				}
			}
		}
	}
	
	> a {
		text-decoration: none;
		display: block;
		@include transition-color(0.25s);
		margin-top: 8px;
		margin-left: 117px;
		font-size: 18px;
		color: black;
		
		&:hover, &:active {
			color: $old-gold;
		}
	}
	
	> span {
		margin-top: 3px;
		margin-left: 98px;
		font-size: 13px;
		color: $asteroid-grey;
		padding-left: 20px;
		background-image: url('../img/icons/github-co-16px.png');
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	table {
		position: absolute;
		width: 100%;
		bottom: 0;
		@include center-margin;
		border-top: $outline;
		border-collapse: collapse;
		table-layout: fixed;
		
		tr {
			width: 50%;
			text-align: center;
			
			&:first-of-type {
				td {
					padding-top: 0.3em;
					font-weight: bold;
					font-size: 16px;
					color: black;
				}
			}
			
			&:last-of-type {
				td {
					a {
						text-decoration: none;
						padding-bottom: 0.3em;
						font-size: 13px;
						color: #A8A8A8;
						@include transition-color(0.25s);
						
						&:hover, &:active {
							color: $world-rally-blue;
						}
					}
				}
			}
			
			td {
				&:first-of-type {
					border-right: $outline;
				}
			}
		}
	}
	
	> img {
		position: absolute;
		display: block;
		width: 123px;
		height: 123px;
		top: -34px;
		left: -23px;
		@include center-margin;
		@include border-radius(100%);
		border: 3px solid white;
		box-shadow: 0 0 0 1pt $asteroid-grey;
	}
	
	table .extern {
		opacity: 0.5;
	}
}

#projects {
	line-height: 0;
	text-align: center;
	
	h4 {
		font-size: 22px;
		margin: 3em 0.3em 0.3em 0.3em;
		color: white;
	}
	
	h5 {
		font-size: 18px;
	}
	
	h6 {
		font-size: 16px;
	}
	
	p {
		font-size: 13.5px;
		
		span {
			color: transparent;
		}
	}
	
	h5, h6, p {
		color: white;
		margin: 0.3em;
	}
	
	.prj-title {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		height: 200px;
		width: 200px;
		background-color: rgba(0, 0, 0, 0.75);
		visibility: hidden;
		opacity: 0;
		@include transition-visibility(0.25s);
	}
	
	.project {
		width: 200px;
		height: 200px;
		display: inline-block;
		line-height: normal;
		text-align: left;
		
		&:hover {
			.prj-title {
				opacity: 1.0;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		
		.front {
			cursor: pointer;
		}
		
		.back {
			background-color: rgba(88, 88, 88, 0.5);
			
			a {
				color: $old-gold;
				
				&:hover {
					color: $brick-red;
					@include transition-color(0.25s);
				}
			}
		}
		
		.prj {
			width: 200px;
			height: 200px;
			position: absolute;
			z-index: -9001;
		}
		
		.flipper {
			position: absolute;
			height: 25px;
			width: 25px;
			bottom: 3px;
			right: 3px;
			z-index: 9001;
			opacity: 0.5;
			cursor: pointer;
			
			&:hover {
				+ div .prj {
					opacity: 0.75;
					@include transition-opacity(0.25s);
				}
			}
		}
	}
}


/* ~~~~~~~~ Interests section ~~~~~~~~ */
#interests {
	@include tile;
	
	.int-desc {
		font-size: 15px;
		margin: auto 0 2.5em 0;
		
		@media #{$narrow-screen} {
			margin: 1em;
		}
	}
	
	h5 {
		font-family: $sorts-goudy;
		text-align: left;
		font-size: 32px;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		
		@media #{$narrow-screen} {
			margin: 0.5em;
		}
	}
	
	a {
		color: $world-rally-blue;
		@include transition-color(0.25s);
		
		&:hover, &:active {
			color: $old-gold;
		}
	}
}

#cars2 {
	text-align: center;
	
	h4, h6 {
		text-align: center;
	}
	
	h4 {
		font-size: 28px;
		margin: 1em auto 0.5em auto;
	}
	
	h6 {
		font-family: 'Montserrat', 'Verdana', sans-serif;
		font-size: 18px;
		margin: 0 auto;
	}
	
	.car-title {
		width: 100%;
		position: relative;
		
		> img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	
	.car-specs {
		text-align: center;
		width: 100%;
		
		> div:not(:last-of-type) {
			margin: 0 1em;
		}
		
		.car-asp, .car-engine {
			height: 120px;
			width: auto;
			display: inline-block;
			text-align: center;
			
			img {
				height: 120px;
				width: auto;
			}
		}
		
		.car-graphs {
			width: 410px;
			display: inline;
			
			> div {
				display: inline-block;
				margin: 0 1em;
			}
		}
	}
	
	.car-desc {
		width: 80%;
		text-align: left;
		margin: 0 auto;
		
		p {
			font-size: 14px;
			margin-top: 1.5em;
		}
	}
}

.slideshow {
	margin: 0 auto;
	
	.slick-current {
		img {
			&:hover {
				opacity: 0.8 !important;
			}
		}
	}
	
	div {	
		img {
			margin: 0 auto;
			cursor: pointer;
			height: 50vh;
			
			&:focus {
				outline: none;
			}
		}
		
		.extern {
			height: 1em;
			margin: 0 0 0 0.25em;
			display: inline;
		}
		
		p {
			font-size: 14px;
		}
		
		&:focus {
			outline: none;
		}
	}
	
	.slick-prev {
		@media #{$wide-screen} {
			left: -72px;
		}
		
		@media #{$medium-screen} {
			left: -62px;
		}
		
		@media #{$narrow-screen} {
			left: -52px;
		}
	}
	
	.slick-next {
		@media #{$wide-screen} {
			right: -72px;
		}
		
		@media #{$medium-screen} {
			right: -62px;
		}
		
		@media #{$narrow-screen} {
			right: -52px;
		}
	}
	
	.slick-arrow {
		position: absolute;
		top: 25vh;
		@include transform-transY(-50%);
		opacity: 0.6;
		z-index: 3000;
		cursor: pointer;
		
		&:hover, &:active {
			opacity: 1.0;
		}
		
		@media #{$medium-screen} {
			height: 56px;
			width: 56px;
		}
		
		@media #{$narrow-screen} {
			height: 48px;
			width: 48px;
		}
	}
}

.thumbnails {
	display: none;
	height: 100px;
	margin: 0 auto;
	
	div {
		@include zero-space;
		
		img {
			cursor: pointer;
			margin-left: auto;
			margin-right: auto;
			height: 70px;
			width: 70px;
		}
		
		&:focus {
			outline: none;
		}
	}
	
	.slick-slide {
		@include transition-all(0.25s);
		
		&:not(.slick-current) {
			@include grayscale(100%);
			opacity: 0.5;
			
			&:hover, &:active {
				opacity: 1.0;
			}
		}
	}
}

.slick-slider {
	width: 80%;
}


/* ~~~~~~~~ Contact form ~~~~~~~~ */
#contact {
	background-color: black;
	background-image: url('../img/bkgrds/pitt-skyline.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 90%;
	min-height: calc(100vh - 50px);
	padding: 0;
	
	&.lights {
		background-image: url('../img/bkgrds/pitt-skyline-lights.png');
	}
	
	h2 {
		color: $old-gold;
		
		@media #{$narrow-screen} {
			height: 123px;
			line-height: 123px;
			background-image: url('../img/bkgrds/logo-small.png');
			background-repeat: no-repeat;
			background-position: 95% center;
		}
	}
	
	> div {
		padding-top: 30px;
		color: white;
		
		form {
			padding-bottom: 1.5em;
			
			@media #{$bigger-screen} {
				display: inline-block;
				width: 65%;
			}
			
			@media #{$narrow-screen} {
				display: block;
				width: 95%;
				margin: 0 auto;
			}
			
			section {
				@media #{$bigger-screen} {
					width: 48%;
					
					&:first-of-type {
						float: left;
					}
					
					&:last-of-type {
						float: right;
					}
				}
			}
			
			label {
				font-size: 15px;
				@include zero-space;
				font-weight: bold;
			}
			
			input, textarea {
				display: block;
				@include border-radius(4px);
				border: 1px solid #707070;
				width: 100%;
				margin: 0.33em auto 1em 0;
				font-family: 'Montserrat', 'Verdana', sans-serif;
				font-size: 15px;
				opacity: 0.9;
				outline: none;
			}
			
			input {
				padding: 3px;
			}
			
			textarea {
				height: 8em;
				padding: 0 3px;
				resize: none;
			}
			
			input[type=text]:focus, input[type=email]:focus, textarea:focus {
				background-color: #DDDDDD;
				outline: none;
			}
			
			h5 {
				font-size: 15px;
				@include zero-space;
				margin-bottom: 0.33em;
			}
			
			input[type=submit] {
				float: right;
				width: 5em;
				background-color: #E34234;
				color: white;
				border: none;
				margin: 0;
				
				&:hover, &:active {
					background-color: #CC0000;
				}
			}
		}
		
		img {
			float: right;
			margin-top: 2em;
			width: 23%;
			
			@media #{$narrow-screen} {
				width: 0;
			}
		}
	}
}

#recaptcha {
	padding-bottom: 1em;
	opacity: 0.9;
	
	@media #{$bigger-screen} {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;
	}
}


/* ~~~~~~~~ Message sent popup ~~~~~~~~ */
#message-sent {
	display: none;
	height: 100%;
	
	div {
		max-width: 35vw;
		max-height: 50vw;
		margin: 0 auto;
		padding: 0.5em;
		background-color: white;
		position: relative;
		@include transform-transY-middle;
	}
	
	h3 {
		font-size: 18px;
		font-weight: normal;
		color: black;
	}
	
	button {
		display: block;
		margin: 0 auto 1em auto;
		background-color: #E85F11;
		color: white;
		
		&:hover, &:active {
			background-color: #E89C11;
		}
		
		&:focus {
			@media #{$narrow-screen} {
				background-color: #E89C11;
			}
		}
	}
}


/* ~~~~~~~~ Footer ~~~~~~~~ */
#footer {
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #67613C;
	font-size: 15px;
	color: white;
	font-weight: normal;
	margin: 0;
	padding-left: 1em;
	z-index: 1000;
	
	span {
		float: left;
	}
	
	a {
		cursor: pointer;
		
		&:first-of-type {
			margin-left: 1em;
		}
		
		&:not(:last-of-type) {
			display: block;
			float: left;
			width: 28px;
			height: 28px;
			
			img {
				vertical-align: middle;
			}
			
			&:hover, &:active {
				&:first-of-type {
					img {
						content: url('../img/icons/github-color-28px.png');
					}
				}
				
				&:nth-of-type(2) {
					img {
						content: url('../img/icons/linkedin-color-28px.png');
					}
				}
				
				&:nth-of-type(3) {
					img {
						content: url('../img/icons/flickr-color-28px.png');
					}
				}
				
				&:nth-of-type(4) {
					img {
						content: url('../img/icons/youtube-color-28px.png');
					}
				}
				
				&:nth-of-type(5) {
					img {
						content: url('../img/icons/bsod-color-28px.png');
					}
				}
				
				&:nth-of-type(6) {
					img {
						content: url('../img/icons/lightbulb-color-28px.png');
					}
				}
			}
		}
		
		&:last-of-type {
			background-image: url('../img/icons/info-icon-48px.png');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 1.2em;
			color: white;
			padding-right: 1.5em;
			padding-left: 1.5em;
			@include transition-color(0.25s);
			float: right;
			
			&:hover, &:active {
				color: $pitt-blue;
			}
		}
	}
}


/* ~~~~~~~~ Site info popup ~~~~~~~~ */
#site-info {
	height: 100%;
	width: 100%;
	
	> p {
		text-align: right;
		color: white;
		margin-right: 20px;
		font-size: 12px;
	}
	
	div {
		max-width: 80vw;
		max-height: 80vh;
		margin: 0 auto;
		padding: 0.5em;
		background-color: $british-racing-green;
		position: relative;
		@include transform-transY-middle;
		
		h1 {
			font-size: 25px;
			color: white;
		}
		
		p {
			font-size: 15px;
			color: #CCCCCC;
			text-align: left;
			
			@media #{$narrow-screen} {
				font-size: 13px;
			}
		}
	}
}


/* ~~~~~~~~ Cookie TOC ~~~~~~~~ */
#cookie-terms {
	position: fixed;
	bottom: 0;
	padding-bottom: 1em;
	background-color: white;
	border-top: 5px solid $brick-red;
	z-index: 9001;
	
	p {
		font-size: 15px;
		margin-bottom: 1em;
	}
}

#accept-button {
	display: block;
	@include center-margin;
	background-color: #00A86B;
	color: white;
	
	&:hover, &:active {
		background-color: $british-racing-green;
	}
}


/* ~~~~~~~~ Common elements ~~~~~~~~ */
#lightbox {
	height: 100%;
	width: 100%;
	
	p {
		text-align: right;
		color: white;
		margin-right: 20px;
		font-size: 12px;
	}
	
	div {
		position: relative;
		@include transform-transY-middle;
	}
	
	img {
		max-width: 85vw;
		max-height: 85vh;
	}
}

#mobile-menu {
	display: none;
}

.rotated {
	@include rotate-180;
}

h2 {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 30px 0;
}

.content {
	width: 70%;
	@include center-margin;
	
	@media #{$medium-screen} {
		width: 80%;
	}
	
	@media #{$narrow-screen} {
		width: 100%;
		
		h2 {
			font-size: 500%;
		}
	}
}

.button {
	@include border-radius(4px);
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	@include transition-bkgrd-color(0.25s);
	
	&:focus {
		outline: 0;
	}
}

.underlay-dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: 9002;
}

#n {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 314159265;
	
	img {
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
		
		&:hover {
			opacity: 0.7;
		}
	}
	
	embed {
		position: relative;
		display: block;
		@include center-margin;
		@include transform-transY-middle;
	}
}

#wankel {
	height: 100%;
	width: 100%;
	
	> div {
		text-align: center;
		margin-top: calc(45vh - (15vw * (500 / 776)));
		
		@media #{$medium-screen} {
			margin-top: calc(45vh - (20vw * (500 / 776)));
		}
		
		@media #{$narrow-screen} {
			margin-top: calc(45vh - (30vw * (500 / 776)));
		}
	}
	
	h5 {
		color: white;
		font-size: 30px;
		margin: 1em auto 0 auto;
		
		&::after, &::before {
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;
			animation: ellipsis steps(4, end) 2s infinite;
			content: "...";
			width: 0;
			@keyframes ellipsis {
				to {
					width: 1.25em;
				}
			}
		}
		
		&::before {
			color: rgba(0, 0, 0, 0);
		}
	}
}

.rotor {
	width: 15vw;
	height: auto;
	
	@media #{$medium-screen} {
		width: 20vw;
	}
	
	@media #{$narrow-screen} {
		width: 30vw;
	}
}

.extern {
	height: 1em;
	margin: 0 0 0 0.25em;
}

.extern-flickr {
	background-image: url('../img/icons/new_window_b.svg');
	background-position: 95% 0%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}