// Media Queries
$narrow-screen: "only screen and (max-width: 720px)";
$bigger-screen: "only screen and (min-width: 721px)";
$medium-screen: "only screen and (min-width: 721px) and (max-width: 999px)";
$wide-screen: "only screen and (min-width: 1000px)";
$big-tree: "only screen and (min-width: 1030px)";
$small-tree: "only screen and (max-width: 1029px)";

// Fonts
$sorts-goudy: 'Sorts Mill Goudy', serif;

// Colors
$pitt-blue: #0C1155;
$old-gold: #D4B92B;
$world-rally-blue: #0736F8;
$blue-gray: #33384C;
$ice-silver: #D2D8E1;
$dark-purple: #2E2635;
$brick-red: #B42929;
$british-racing-green: #014225;
$asteroid-grey: #838383;

// Misc
$outline: 1px solid #A3A3A3;
$box-shadow: 8px 8px 3px 0px $asteroid-grey;

// Mixins
@mixin zero-space {
	margin: 0;
	padding: 0;
}

@mixin center-margin {
	margin-left: auto;
	margin-right: auto;
}

@mixin picture-border {
	border: 5px solid white;
	outline: $outline;
	box-shadow: $box-shadow;
}

@mixin center-bkgrd-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin tile {
	background-color: $ice-silver;
	background-image: url('../img/bkgrds/bkgrd-tile.png');
	background-repeat: repeat;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin grayscale($percent) {
	-webkit-filter: grayscale($percent);
	-o-filter: grayscale($percent);
	-moz-filter: grayscale($percent);
	filter: grayscale($percent);
}

@mixin linear-gradient($direction, $gradient...) {
	background: -o-linear-gradient($direction, $gradient...);
	background: -moz-linear-gradient($direction, $gradient...);
	background: linear-gradient($direction, $gradient...);
	
	@if $direction == left {
		background: -webkit-linear-gradient(right, $gradient...);
	}
	@else if $direction == right {
		background: -webkit-linear-gradient(left, $gradient...);
	}
	@else if $direction == top {
		background: -webkit-linear-gradient(bottom, $gradient...);
	}
	@else if $direction == bottom {
		background: -webkit-linear-gradient(top, $gradient...);
	}
	@else if $direction == top left or $direction == left top {
		background: -webkit-linear-gradient(bottom right, $gradient...);
	}
	@else if $direction == top right or $direction == right top {
		background: -webkit-linear-gradient(bottom left, $gradient...);
	}
	@else if $direction == bottom left or $direction == left bottom {
		background: -webkit-linear-gradient(top right, $gradient...);
	}
	@else {
		background: -webkit-linear-gradient(top left, $gradient...);
	}
}

@mixin transition-all($seconds) {
	-webkit-transition: all $seconds;
	-o-transition: all $seconds;
	-moz-transition: all $seconds;
	transition: all $seconds;
}

@mixin transition-color($seconds) {
	-webkit-transition: color $seconds;
	-o-transition: color $seconds;
	-moz-transition: color $seconds;
	transition: color $seconds;
}

@mixin transition-bkgrd-color($seconds) {
	-webkit-transition: background-color $seconds;
	-o-transition: background-color $seconds;
	-moz-transition: background-color $seconds;
	transition: background-color $seconds;
}

@mixin transition-opacity($seconds) {
	-webkit-transition: opacity $seconds;
	-o-transition: opacity $seconds;
	-moz-transition: opacity $seconds;
	transition: opacity $seconds;
}

@mixin transition-width($seconds) {
	-webkit-transition: width $seconds;
	-o-transition: width $seconds;
	-moz-transition: width $seconds;
	transition: width $seconds;
}

@mixin transform-transY-middle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin transform-transY($num) {	
	-webkit-transform: translateY($num);
	-o-transform: translateY($num);
	-moz-transform: translateY($num);
	-ms-transform: translateY($num);
	transform: translateY($num);
}

@mixin rotate-180 {
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}


/* ~~~~~~~~ Global styling ~~~~~~~~ */
body {
	margin: 0;
	font-family: 'Montserrat', 'Verdana', sans-serif;
}

p {
	font-size: 18px;
	margin: 1em 1em;
}

.nav-container {
	position: fixed;
	display: block;
	width: 100%;
	height: 50px;
	top: 0;
	opacity: 0.9;
	z-index: 9001;
	
	@media #{$narrow-screen} {
		background-color: $pitt-blue;
	}
	
	> div {
		width: 81%;
		@include center-margin;
		
		@media #{$narrow-screen} {
			width: 100%;
		}
		
		> a {
			line-height: 50px;
			font-family: $sorts-goudy;
			font-size: 23px;
			color: white;
			text-decoration: none;
			padding-left: 45px;
			background-image: url('../img/icons/logo-sm2.png');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 40px;
			@include grayscale(100%);
			filter: gray;
			@include transition-all(0.25s);
			
			@media #{$bigger-screen} {
				float: left;
			}
			
			@media #{$medium-screen} {
				font-size: 18px;
				padding-left: 35px;
				background-size: 30px;
			}
			
			@media #{$narrow-screen} {
				display: block;
				padding-left: 0;
				background-size: 0;
				text-align: center;
			}
			
			&:hover {
				color: $old-gold;
				@include grayscale(0%);
				filter: none;
			}
			
			&:active {
				@media #{$narrow-screen} {
					@include grayscale(0%);
					filter: none;
				}
			}
		}
		
		li {
			height: 50px;
			line-height: 50px;
			list-style-type: none;
			background-position: left center;
			background-repeat: no-repeat;
			@include transition-bkgrd-color(0.25s);
			
			@media #{$bigger-screen} {
				float: left;
			}
			
			@media #{$medium-screen} {
				background-size: 0;
			}
			
			@media #{$narrow-screen} {
				display: none;
				
				&:active {
					background-color: $world-rally-blue;
				}
			}
			
			&:hover {
				background-color: $world-rally-blue;
			}
			
			a {
				display: block;
				color: white;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 16px;
				padding-left: 32px;
				padding-right: 5px;
				
				@media #{$medium-screen} {
					font-size: 13px;
					padding-left: 7px;
					padding-right: 7px;
				}
			}
		}
		
		li.show-menu {				
			@media #{$narrow-screen} {
				display: block;
				background-color: $pitt-blue;
				background-size: 0;
				height: 50px;
				line-height: 50px;
			}
			
			a {
				@include transition-bkgrd-color(0.25s);
				&:hover, &:active {
					background-color: $world-rally-blue;
				}
			}
		}
	}
}

#links {
	position: relative;
	width: auto;
	
	@media #{$bigger-screen} {
		float: right;
	}
	
	ul {
		padding-left: 0;
		display: inline;
		
		@media #{$narrow-screen} {
			margin: 0;
		}
	}
}

.blue-menu {
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: $pitt-blue;
	@include zero-space;
	border: none;
	display: none;
}

#menu-button {
	position: fixed;
	top: 0;
	right: 0;
	@include zero-space;
	width: 50px;
	height: 50px;
	cursor: pointer;
	@include transition-bkgrd-color(0.25s);
	
	&:hover {
		background-color: $world-rally-blue;
	}
	
	&:active {
		@media #{$narrow-screen} {
			background-color: $world-rally-blue;
		}
	}
	
	@media #{$bigger-screen} {
		display: none;
	}
}

.menu-open {
	content: url('../img/icons/menu-close-50px.png');	
}


/* ~~~~~~~~ Intro panel ~~~~~~~~ */
#top {
	background-image: url('../img/bkgrds/bkgrd-01.jpg');
	@include center-bkgrd-image;
	background-color: $blue-gray;
	height: 100vh;
	padding: 0;
	
	div {
		position: relative;
		top: 50%;
		@include transform-transY-middle;
		
		img {
			width: 311px;
			display: block;
			@include center-margin;
		}
		
		h1 {
			font-size: 24px;
			font-weight: bold;
			color: white;
			text-align: center;
			margin-top: 50px;
		}
	}
}


/* ~~~~~~~~ About section ~~~~~~~~ */
#about {
	padding-top: 30px;
	padding-bottom: 30px;
	@include tile;
	
	div {
		img {
			@include picture-border;
			float: left;
			margin: 10px 50px 25px 10px;
			
			@media #{$wide-screen} {
				max-width: 400px;
			}
			
			@media #{$medium-screen} {
				width: 30vw;
				margin: 0 2em 1em 0;
			}
			
			@media #{$narrow-screen} {
				width: calc(50% - 12px);
				margin: 0 25% 2em 25%;
			}
		}
		
		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}
}


/* ~~~~~~~~ Programming section pt. 2 ~~~~~~~~ */
#prog {
	@include tile;
	
	.content {
		@media #{$big-tree} {
			width: 80%;
		}
	}
	
	section {
		@media #{$big-tree} {
			width: 325px;
			position: absolute;
		}
		
		p {
			font-size: 16px;
			
			@media #{$big-tree} {
				margin: 3.2em 0 0 0;
			}
			
			@media #{$small-tree} {
				margin: 2em auto 0 auto;
				width: 80%;
			}
		}
	}
}

#git-card {
	position: relative;
	width: 350px;
	height: 150px;
	@include border-radius(4px);
	box-shadow: $box-shadow;
	border: $outline;
	background-color: white;
	
	@media #{$big-tree} {
		margin-top: 2.5em;
	}
	
	@media #{$small-tree} {
		@include center-margin;
		margin-top: 4em;
	}
	
	> div {
		position: relative;
		height: 50px;
		@include linear-gradient(left, $pitt-blue, $world-rally-blue);
		
		div.tooltip {
			height: 50px;
			margin: 0;
			text-align: right;
			
			img.git-status {
				opacity: 0.15;
				@include transition-opacity(0.25s);
			}
			
			img.git-logo {
				margin: 5px 5px 5px 0;
			}
			
			span {
				position: relative;
				display: block;
				top: -68px;
				right: -310px;
				width: 195px;
				height: auto;
				opacity: 0;
				visibility: hidden;
				padding: 0.2em;
				@include border-radius(4px);
				background-color: $ice-silver;
				color: black;
				text-align: center;
				font-size: 12px;
				-webkit-transition: visibility 0s 0.25s, opacity 0.25s;
				-o-transition: visibility 0s 0.25s, opacity 0.25s;
				-moz-transition: visibility 0s 0.25s, opacity 0.25s;
				transition: visibility 0s 0.25s, opacity 0.25s;
				
				&::after {
					content: " ";
					position: absolute;
					top: 50%;
					right: 100%;
					margin-top: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: transparent $ice-silver transparent transparent;
				}
			}
			
			&:hover {
				img.git-status {
					opacity: 1.0;
				}
				span {
					visibility: visible;
					opacity: 1.0;
					transition-delay: 0s;
				}
			}
		}
	}
	
	> a {
		text-decoration: none;
		display: block;
		@include transition-color(0.25s);
		margin-top: 8px;
		margin-left: 117px;
		font-size: 18px;
		color: black;
		
		&:hover {
			color: $old-gold;
		}
	}
	
	> span {
		margin-top: 3px;
		margin-left: 98px;
		font-size: 13px;
		color: $asteroid-grey;
		padding-left: 20px;
		background-image: url('../img/icons/github-co-16px.png');
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	table {
		position: absolute;
		width: 100%;
		bottom: 0;
		@include center-margin;
		border-top: $outline;
		border-collapse: collapse;
		table-layout: fixed;
		
		tr {
			width: 50%;
			text-align: center;
			
			&:first-of-type {
				td {
					padding-top: 0.3em;
					font-weight: bold;
					font-size: 16px;
				}
			}
			
			&:last-of-type {
				td {
					a {
						text-decoration: none;
						padding-bottom: 0.3em;
						font-size: 13px;
						color: #A8A8A8;
						@include transition-color(0.25s);
						
						&:hover {
							color: $world-rally-blue;
						}
					}
				}
			}
			
			td {
				&:first-of-type {
					border-right: $outline;
				}
			}
		}
	}
	
	> img {
		position: absolute;
		display: block;
		width: 123px;
		height: 123px;
		top: -34px;
		left: -23px;
		@include center-margin;
		@include border-radius(100%);
		border: 3px solid white;
		box-shadow: 0 0 0 1pt $asteroid-grey;
	}
}

#cs-tree {
	@media #{$big-tree} {
		text-align: right;
		margin-top: 3em;
	}
	
	@media #{$small-tree} {
		text-align: center;
	}
	
	.node {
		cursor: pointer;
		
		circle {
			fill: white;
			stroke: $asteroid-grey;
			stroke-width: 2px;
		}
		
		text {
			font-size: 13px;
			color: black;
		}
	}

	.link {
		fill: none;
		stroke: #EDEDED;//#CCCCCC;
		stroke-width: 2px;
	}
}


/* ~~~~~~~~ Programming section ~~~~~~~~ */
#programming {
	background-image: url('../img/bkgrds/bkgrd-02.jpg');
	@include center-bkgrd-image;
	background-color: $dark-purple;
	min-height: calc(100vh - 60px);
	color: white;
	
	h2 {
		color: white;
	}
	
	ul {
		display: inline-block;
		width: 100%;
		@include zero-space;
		
		@media #{$narrow-screen} {
			display: block;
		}
	}
	
	li {
		width: 50%;
		list-style-type: none;
		text-align: center;
		
		@media #{$wide-screen} {
			float: left;
		}
		
		@media #{$narrow-screen} {
			display: block;
			width: 100%;
		}
		
		> img {
			display: block;
			height: 180px;
			opacity: 0.8;
			margin: 0 auto;
			
			@media #{$narrow-screen} {
				display: none;
			}
		}
		
		a {
			font-family: $sorts-goudy;
			font-size: 88px;
			color: $brick-red;
			text-decoration: none;
			@include zero-space;
			@include transition-opacity(0.25s);
			
			@media #{$medium-screen} {
				display: block;
				margin: 0 auto;
				padding-top: 0;
				padding-bottom: 0.2em;
				background-repeat: no-repeat;
				font-size: 64px;
			}
			
			@media #{$narrow-screen} {
				display: inline;
				margin: 0 auto;
				padding-top: 0;
				padding-bottom: 0.2em;
				padding-left: 18px;
				background-repeat: no-repeat;
				font-size: 40px;
			}
			
			&:hover {
				opacity: 0.5;
			}
			
			&:active {
				@media #{$narrow-screen} {
					opacity: 0.5;
				}
			}
			
			> img {
				height: 0.75em;
			}
		}
		
		a[href*="github"] {
			@media #{$medium-screen} {
				width: 3em;
				padding-left: 100px;
				background-image: url('../img/icons/github-220px.png');
				background-size: 88px;
				background-position: left top;
			}
		}
		
		a[href$=".pdf"] {
			@media #{$medium-screen} {
				width: 3.5em;
				padding-left: 88px;
				background-image: url('../img/icons/resume-220px.png');
				background-size: 75px;
				background-position: left top;
			}
		}
		
		p {
			margin-top: 0;
			font-size: 16px;
			
			@media #{$narrow-screen} {
				margin-bottom: 1.5em;
			}
		}
	}
}


/* ~~~~~~~~ Interests section ~~~~~~~~ */
#interests {
	@include tile;
	
	ul {
		list-style-type: none;
		width: 100%;
		margin: 0 0 2em 0;
		padding: 0;
		
		li {
			width: 100%;
			
			> a {
				display: block;
				height: 88px;
				font-size: 25px;
				text-decoration: none;
				color: white;
				background-color: #8C5DCA;
				border-bottom: 5px solid #7c5ea3;
				box-shadow: $box-shadow;
				
				&:hover .hobby-icon {
					width: 88px;
				}
			}
			
			.hobby-icon {
				height: 88px;
				width: 0;
				padding-right: 1em;
				@include transition-width(0.33s);
			}
			
			.expand {
				width: 88px;
				padding: 0;
				float: right;
				@include transition-all(0.25s);
			}
		}
	}
}

.hobby-desc {
	width: 95%;
	margin: 1.5em auto;
	display: none;
	
	img {
		float: left;
		width: 200px;
		margin: 0 1em 1em 0;
		@include picture-border;
	}
	
	p {
		font-size: 16px;
		margin: 0;
	}
	
	div {
		width: 100%;
		margin-top: 1em;
		text-align: center;
		
		a {
			font-size: 18px;
			color: #9A8A32;
			@include transition-color(0.25s);
			
			&:hover {
				color: $old-gold;
			}
			
			&:active {
				@media #{$narrow-screen} {
					color: $old-gold;
				}
			}
		}
	}
}


/* ~~~~~~~~ Contact form ~~~~~~~~ */
#contact {
	background-color: black;
	background-image: url('../img/bkgrds/pitt-skyline.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 90%;
	height: calc(100vh - 50px);
	padding: 0;
	
	h2 {
		color: $old-gold;
		
		@media #{$narrow-screen} {
			height: 123px;
			line-height: 123px;
			background-image: url('../img/bkgrds/logo-small.png');
			background-repeat: no-repeat;
			background-position: 95% center;
		}
	}
	
	div {
		padding-top: 30px;
		color: white;
		
		form {
			display: inline-block;
			width: 65%;
			
			@media #{$narrow-screen} {
				display: block;
				width: 95%;
				margin: 0 auto;
			}
			
			h5 {
				font-size: 15px;
				@include zero-space;
			}
			
			input, textarea {
				display: block;
				@include border-radius(4px);
				border: 1px solid #707070;
				width: 100%;
				margin: 0.33em auto 1em 0;
				font-family: 'Montserrat', 'Verdana', sans-serif;
				font-size: 15px;
				opacity: 0.9;
				outline: none;
			}
			
			input {
				padding: 3px;
			}
			
			textarea {
				height: 8em;
				padding: 0 3px;
				resize: none;
			}
			
			input[type=text]:focus, input[type=email]:focus, textarea:focus {
				background-color: #DDDDDD;
				outline: none;
			}
			
			input[type=submit] {
				width: 5em;
				background-color: #E34234;
				color: white;
				border: none;
			}
			
			input[type=submit]:hover {
				background-color: #CC0000;
			}
			
			input[type=submit]:active {
				@media #{$narrow-screen} {
					background-color: #CC0000;
				}
			}
		}
		
		img {
			float: right;
			margin-top: 2em;
			width: 23%;
			
			@media #{$narrow-screen} {
				width: 0;
			}
		}
	}
}


/* ~~~~~~~~ Message sent popup ~~~~~~~~ */
#message-sent {
	div {
		max-width: 35vw;
		max-height: 50vw;
		margin: 0 auto;
		padding: 0.5em;
		background-color: white;
		position: relative;
		@include transform-transY-middle;
	}
	
	h3 {
		font-size: 18px;
		font-weight: none;
		color: black;
	}
	
	button {
		display: block;
		margin: 0 auto 1em auto;
		background-color: #E85F11;
		color: white;
		
		&:hover {
			background-color: #E89C11;
		}
		
		&:focus {
			@media #{$narrow-screen} {
				background-color: #E89C11;
			}
		}
	}
}


/* ~~~~~~~~ Footer ~~~~~~~~ */
#footer {
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #67613C;
	font-size: 15px;
	color: white;
	font-weight: normal;
	margin: 0;
	padding-left: 1em;
	z-index: 1000;
	
	a {
		background-image: url('../img/icons/info-icon-48px.png');
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 1.2em;
		color: white;
		float: right;
		padding-right: 1.5em;
		padding-left: 1.5em;
		@include transition-color(0.25s);
		
		&:hover {
			color: $pitt-blue;
		}
		
		&:active {
			@media #{$narrow-screen} {
				color: $pitt-blue;
			}
		}
	}
}


/* ~~~~~~~~ Site info popup ~~~~~~~~ */
#site-info {
	> p {
		text-align: right;
		color: white;
		margin-right: 20px;
		font-size: 12px;
	}
	
	div {
		max-width: 70vw;
		max-height: 70vw;
		margin: 0 auto;
		padding: 0.5em;
		background-color: $british-racing-green;
		position: relative;
		@include transform-transY-middle;
		
		h1 {
			font-size: 25px;
			color: white;
		}
		
		p {
			font-size: 15px;
			color: #CCCCCC;
		}
	}
}


/* ~~~~~~~~ Cookie TOC ~~~~~~~~ */
#cookie-terms {
	position: fixed;
	bottom: 0;
	padding-bottom: 1em;
	background-color: white;
	border-top: 5px solid $brick-red;
	z-index: 9001;
	
	p {
		font-size: 15px;
		margin-bottom: 1em;
	}
}

#accept-button {
	display: block;
	@include center-margin;
	background-color: #00A86B;
	color: white;
	
	&:hover {
		background-color: $british-racing-green;
	}
	
	&:active {
		@media #{$narrow-screen} {
			background-color: $british-racing-green;
		}
	}
}


/* ~~~~~~~~ Common elements ~~~~~~~~ */
#lightbox {
	p {
		text-align: right;
		color: white;
		margin-right: 20px;
		font-size: 12px;
	}
	
	div {
		position: relative;
		@include transform-transY-middle;
	}	
	
	img {
		max-width: 85vw;
		max-height: 85vh;
	}
}

#mobile-menu {
	display: none;
}

.rotated {
	@include rotate-180;
}

h2 {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 30px 0;
}

.content {
	width: 70%;
	@include center-margin;
	
	@media #{$medium-screen} {
		width: 80%;
	}
	
	@media #{$narrow-screen} {
		width: 97%;
	}
}

.button {
	@include border-radius(4px);
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	@include transition-bkgrd-color(0.25s);
	
	&:focus {
		outline: 0;
	}
}

.underlay-dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: 9002;
}
